<table class="table table-bordered table-condensed">
  <thead>
	<tr>
	  <th scope="col"><%= t("fcrepo_admin.object.associations.header.macro") %></th>
	  <th scope="col"><%= t("fcrepo_admin.object.associations.header.name") %></th>
	  <th scope="col"><%= t("fcrepo_admin.object.associations.header.target") %></th>
	  <th scope="col"><%= t("fcrepo_admin.object.associations.header.class_name") %></th>
	  <th scope="col"><%= t("fcrepo_admin.object.associations.header.property") %></th>
	</tr>
  </thead>
  <tbody>
	<% object.reflections.each_value do |association| %>
	<tr>
	  <td><%= association.macro %></td>
	  <td><%= association.name %></td>
	  <td><%= link_to_target association %></td>
	  <td><%= association.class_name %></td>
	  <td><%= association.options[:property] %></td>
	</tr>
	<% end %>
  </tbody>
</table>
