<h3><%= t("fcrepo_admin.datastreams.title") %></h3>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.id") %></th>
	  <th scope="col"><%= t("fcrepo_admin.datastream.profile.label") %></th>
    </tr>
  </thead>
  <tbody>
    <% object.datastreams.each do |dsid, ds| %>
      <tr>
	    <td>
		  <%= link_to dsid, fcrepo_admin.object_datastream_path(object, dsid) %>
        </td>
		<td>
	      <% unless ds.new? %>
	        <%= ds.dsLabel %>
		  <% else %>
		    <em><%= t("fcrepo_admin.datastream.not_persisted") %></em>
		  <% end %>
		</td>
	  </tr>
    <% end %>
  </tbody>
</table>
