<h3><%= t("fcrepo_admin.datastreams.title") %></h3>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.id") %></th>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.label") %></th>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.mimetype") %></th>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.create_date") %></th>
    </tr>
  </thead>
  <tbody>
    <% object.datastreams.reject { |dsid, ds| ds.profile.empty? }.each do |dsid, ds| %>
    <tr>
	  <td><%= link_to dsid, fcrepo_admin.object_datastream_path(ds.pid, dsid) %></td>
	  <td><%= ds.profile["dsLabel"] %></td>
	  <td><%= ds.profile["dsMIME"] %></td>
	  <td><%= ds.profile["dsCreateDate"] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
