<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab-datastreams" data-toggle="tab"><%= t("fcrepo_admin.object.tabs.datastreams") %></a></li>
    <li><a href="#tab-properties" data-toggle="tab"><%= t("fcrepo_admin.object.tabs.properties") %></a></li>
    <li><a href="#tab-permissions" data-toggle="tab"><%= t("fcrepo_admin.object.tabs.permissions") %></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab-datastreams">
	  <%= render :partial => 'fcrepo_admin/datastreams/datastreams', :locals => {:datastreams => @object.datastreams} %>
    </div>
    <div class="tab-pane" id="tab-properties">
	  <%= render :partial => 'properties', :locals => {:properties => object_properties} %>
    </div>
    <div class="tab-pane" id="tab-permissions">
	<% if has_permissions? %>
      <h4>Direct Permissions</h4>
	  <%= render :partial => 'permissions', :locals => {:permissions => @object.permissions} %>
	  <h4>Inherited Permissions</h4>
	  <% unless apo_enforcement_enabled? %>
	    <p class="alert">
		  <%= t("fcrepo_admin.object.apo.enforcement_disabled") %>.
	    </p>
	  <% end %>
	  <% if @apo_relationship_name %>
	    <p>
		  <%= t("fcrepo_admin.object.apo.governed_by") %>: 
		  <% if @apo %>
		    <%= link_to @apo.pid, fcrepo_admin.object_path(@apo.pid) %>
	      <% else %>
		    <span class="label"><%= t("fcrepo_admin.object.apo.not_assigned") %></span>
		  <% end %>
	    </p>
		<% if @apo %>
	      <%= render :partial => 'permissions', :locals => {:permissions => @apo.default_permissions} %>
		<% end %>
	  <% else %>
	    <p class="alert alert-info">
		  <%= t("fcrepo_admin.object.apo.relationship_undefined") %>: <%= object_type %>.
	    </p>
	  <% end %>
    <% else %>
	  <%= t("fcrepo_admin.object.permissions.not_supported") %>: <%= object_type %>.
	<% end %>
    </div> <!-- /tab-permissions -->
  </div>
</div>
