<h3><%= t("fcrepo_admin.datastream.title").pluralize %></h3>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
	  <th scope="col"><%= t("fcrepo_admin.datastream.id") %></th>
	  <th scope="col"><%= t("fcrepo_admin.datastream.label") %></th>
	  <th scope="col"><%= t("fcrepo_admin.datastream.mimetype") %></th>
    </tr>
  </thead>
  <tbody>
    <% datastreams.reject { |dsid, dsProfile| dsProfile.empty? }.each do |dsid, dsProfile| %>
    <tr>
	  <td><%= link_to dsid, fcrepo_admin.object_datastream_path(pid, dsid) %></td>
	  <td><%= dsProfile["dsLabel"] %></td>
	  <td><%= dsProfile["dsMIME"] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
