<h1><%= link_to @title, catalog_path(params[:object_id]) %></h1>

<h3>Children</h3>

<% if @content_metadata %>
  
  <% @content_metadata.each do |structure| %>
    <%= display_structure(structure).html_safe %>
  <% end %>

<% else %>

<div class="pagination">
  <%= render_pagination_info @response %>
</div>

<%= render_document_index %>


<div class="pagination">
  <%= paginate_rsolr_response @response, :theme => 'blacklight' %>
</div>

<% end %>