<% content_for :main do %>
  <h1><%= object_title %></h1>
  <h3><%= t("fcrepo_admin.datastream.title") %>: <%= @datastream.dsid %></h3>
  <%= yield %>
<% end %>
<% content_for :sidebar do %>
  <%= render_object_context_nav %>
  <%= render_datastream_context_nav %>
<% end %>
<%= render :template => 'layouts/fcrepo_admin/default' %>
