<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.id") %></th>
	  <% columns.each do |col| %>
	  <th scope="col"><%= t("fcrepo_admin.datastream.profile.keys.#{col}") %></th>
	  <% end %>
    </tr>
  </thead>
  <tbody>
    <% object.datastreams.each do |dsid, ds| %>
      <tr>
	    <td>
		  <%= link_to dsid, fcrepo_admin.object_datastream_path(object, ds) %>
		</td>
	    <% unless ds.new? %>
	      <% columns.each do |col| %>
	        <td>
			  <%= format_datastream_profile_value ds, col %>
			</td>
	      <% end %>
        <% else %>
	      <%= content_tag :td, :colspan => columns.size do %>
		    <em><%= t("fcrepo_admin.datastream.not_persisted") %></em>
		  <% end %>
	    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
