<div class="well">
  <ul class="nav nav-list">
	<li class="nav-header">
	  <%= t("fcrepo_admin.datastream.nav.header") %>
	</li>
	<li>
	  <%= link_to_unless_current t("fcrepo_admin.datastream.nav.items.summary"), fcrepo_admin.object_datastream_path(datastream.pid, datastream.dsid) %>
	</li>
	<li>
	  <%= link_to_unless_current t("fcrepo_admin.datastream.nav.items.edit"), fcrepo_admin.edit_object_datastream_path(datastream.pid, datastream.dsid) %>
	</li>
	<li>
	  <%= link_to t("fcrepo_admin.datastream.nav.items.download"), "#{fcrepo_admin.object_datastream_path(datastream.pid, datastream.dsid)}?download=true" %>
	</li>
	<li class="divider"></li>
	<%= render :partial => 'fcrepo_admin/objects/object_nav_items', :locals => {:object => object} %>
  </ul>
</div>
