<h3><%= t("fcrepo_admin.datastreams.title") %></h3>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.id") %></th>
	  <% datastream_index_columns.each do |col| %>
	  <th scope="col"><%= t("fcrepo_admin.datastream.profile.#{col}") %></th>
	  <% end %>
    </tr>
  </thead>
  <tbody>
    <% object.datastreams.each do |dsid, ds| %>
      <%= content_tag :tr, :class => (ds.profile.empty? ? "warning" : "") do %>
	    <td>
		  <%= link_to dsid, fcrepo_admin.object_datastream_path(ds.pid, dsid) %>
		</td>
	    <% unless ds.new? %>
	      <% datastream_index_columns.each do |col| %>
	        <td><%= ds.profile[col] %></td>
	      <% end %>
        <% else %>
	      <%= content_tag :td, :colspan => datastream_index_columns.size do %>
		    <em>Not persisted to Fedora</em> (<%= ds.class.to_s %>)
		  <% end %>
	    <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
