<h3><%= t("fcrepo_admin.datastreams.title") %></h3>
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
	  <th scope="col"><%= t("fcrepo_admin.datastreams.header.id") %></th>
	  <% datastream_index_columns.each do |col| %>
	  <th scope="col"><%= t("fcrepo_admin.datastream.profile.#{col}") %></th>
	  <% end %>
    </Tr>
  </thead>
  <tbody>
    <% object.datastreams.each do |dsid, ds| %>
    <tr>
	  <td>
		<%= 
		   link_to_unless ds.profile.empty?, dsid, fcrepo_admin.object_datastream_path(ds.pid, dsid) do |name|
		     name
		   end
		 %>
      </td>
	  <% datastream_index_columns.each do |col| %>
	  <td><%= ds.profile[col] %></td>
	  <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
