<h3><%= t("fcrepo_admin.object.associations.title") %>: <%= @association.name %></h3>

<% if @response.total > 0 %>
  <div class="pagination">
	<%= render_pagination_info @response %>
  </div>
  <%= render_document_index @documents %>
  <div class="pagination">
	<%= safe_paginate_rsolr_response @response %>
  </div>
<% else %>
  <div class="alert">
	No associated objects found.
  </div>
<% end %>
